.about-section {
  padding: 100px 0;
  background-color: #fff;
  text-align: left;
  font-size: x-large;
}

.about-desc {
  margin-top: 20px;
  max-width: 700px;
  margin: 0;
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  text-align: justify;
}

.about-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* rapih responsif */
  gap: 30px;
  margin-top: 50px;
}

.feature-card {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card img {
  width: 60px;
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #172a45;
}

.feature-card p {
  font-size: 14px;
  color: #555;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}