.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #FDAC00;
  color: #0A192F;
  text-align: center;
  border-radius: 8px;
  padding: 15px;
  position: fixed;
  z-index: 2000;
  left: 50%;
  bottom: 40px;
  font-size: 14px;
  font-weight: 500;
  transition: opacity 0.5s, bottom 0.5s;
  opacity: 0;
}

.toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 200px;
}